
:root {
    --black: #232536;
    --black-opacity: #2e303f;
    --yellow: #FFD050;
    --dark-yellow: #EDC14A;
    --purple: #592EA9;
    --dark-grey:#4C4C4C;
    --medium-grey: #6D6E76;
    --medium-grey40: #6e6f7766;
    --light-grey: #F4F4F4;
    --lavender: #F4F0F8;
    --light-yellow: #FBF6EA;
    --light: #FFFFFF;
}

